@page "/counter"

@inject IRepository repository

<div>
    <h3>Services</h3>
    <ServiceList Services="Services" />
</div>

<button class="btn btn-info" @onclick="AddServiceProvider">Add Service</button>

@code {

    private List<Service> Services;

    protected override void OnInitialized()
    {
        Services= repository.GetServices();
    }

    void AddServiceProvider()
    {
        Services.Add(new Service() { Id = 2, IdServiceProvider = 2, Country = "Colombia", Name = "Service Test 2", price = 3000 });

    }



}
