@page "/"

@inject IRepository repository

<div>
    <h3>Service Providers</h3>
    <ServiceProviderList ServiceProviders="ServiceProviders" />
</div>

<button  class="btn btn-info" @onclick="AddServiceProvider">Add Service Provider</button>

@code {

    private List<ServiceProvider> ServiceProviders;

    protected override void OnInitialized()
    {
        ServiceProviders = repository.GetServiceproviders();
    }

    void AddServiceProvider()
    {
        ServiceProviders.Add(new ServiceProvider() { Id = 5, Email = "test5@gmail.com", Name = "Test5", Nit = 890312775, Creationdate = DateTime.Now });
    
    }



}
